
// Este es un mapa
$colors : (
background-color: #efefef,
color-primary-0: #B9BE00, // Main Primary color */
color-primary-1: #F8FE00,
color-primary-2: #E0E600,
color-primary-3: #939700,
color-primary-4: #666800,

color-secondary-1-0: #72B100,	// Main Secondary color (1) */
color-secondary-1-1: #9BF200,
color-secondary-1-2: #8AD700,
color-secondary-1-3: #5B8D00,
color-secondary-1-4: #3F6100,

color-secondary-2-0: #9C0052,	// Main Secondary color (2) */
color-secondary-2-1: #DD0074,
color-secondary-2-2: #BC0063,
color-secondary-2-3: #7C0041,
color-secondary-2-4: #55002D,

color-complement-0: #57037F,	// Main Complement color */
color-complement-1: #8608C1,
color-complement-2: #6A049A,
color-complement-3: #450265,
color-complement-4: #300146,

);
