/* RGB */
$color1: rgba(150, 137, 123, 1);
$color2: rgba(98, 131, 149, 1);
$color3: rgba(219, 173, 106, 1);
$color4: rgba(207, 153, 95, 1);
$color5: rgba(208, 206, 124, 1);

$text: #444;
$font-family: 'Helvetica', sans-serif;
$title: #888;
$title-font-family: 'Georgia', serif;


$cadena1: 'hola ';
$cadena2: 'mundo';

$cadena3: $cadena1 + $cadena2;

$numero1: 6em;
$numero2: 2;

$resultado: $numero1 + $numero2;

div.ejemplos {
    content: $cadena3;
    margin-bottom: ($numero1 / $numero2);
}
